.myCon{
  background-color: green;
  padding: 0;
  margin: 0;
  display: grid;
 justify-content: center;
}


.myForm{
  width: 300px;
  background-color: white;
}

#textBox{
  width: 250px;
  height: 35px;
}
#button
{
  height: 30px;
  width: 250px;
  background-color: green;
}
