body{
background-image: url('media/5199419.jpg');
background-size: cover;
padding: 0;
margin: 0;
}

#myPage{
  background-image: url('media/hd turtle wallpaper with a swimming turtle underwater hd turtles.jpg');
  background-position:  bottom center;
  background-size: 1300px;
  background-attachment: fixed;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0;
  padding: 0, 10px;

}

h1{
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  color: #333;
  font-size: 50px;
}


.line{
  border: 2px solid teal;
  width: 70%;
  align-items: center;
  margin: 10px 13% auto  ;
}

#intro{
  margin: 5px;
  padding-top: 0;
}

a{
     font-weight: bold;
     text-decoration: none;
     color: red;
   }

.Intro{
  background-color: rgba(65, 65, 65, 0.2);
  background-size: 100px, 100px;
  border-radius: 15px;
  margin: 0;
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #D3D3D3;
}


.navLink {
    list-style-type: none;
    padding: 15px;
    margin : 5px;
    display: flex;
    background-color: #eb932b;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
}

section{
      background-color: rgba(0, 255, 191, 0.3);
      background-size: 200px, 300px;
      padding: 10px;
      margin: 30px;
      border-radius: 30px;
}
